.flows.json.backup
[{"id":"991b217375f5a9f2","type":"tab","label":"Поток 1","disabled":false,"info":"","env":[]},{"id":"f53b2b68db328522","type":"global-config","name":"global-config","env":[]},{"id":"d5cabf4b2c23ec4a","type":"postgreSQLConfig","name":"","host":"DB_HOST","hostFieldType":"global","port":"DB_PORT","portFieldType":"global","database":"DB_NAME","databaseFieldType":"global","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"DB_USER","userFieldType":"global","password":"DB_PASSWORD","passwordFieldType":"global"},{"id":"37673e3edbd2b95e","type":"http in","z":"991b217375f5a9f2","name":"","url":"/telegram","method":"post","upload":false,"swaggerDoc":"","x":140,"y":920,"wires":[["753c0a7937bbfe58"]]},{"id":"26aab5500baa0ed6","type":"function","z":"991b217375f5a9f2","name":"Command hendler","func":"const user = msg.payload[0]\nconst { text } = msg.userData;\n\nif (!user) {\n    msg.payload = { registration_step: null }\n    return msg;\n}\n\nconst flowKey = `add_contact_step_${user.chat_id}`\n\nif (text === '/add_contact') {\n    flow.set(flowKey, null)\n}\n\nconst contact_step = flow.get(flowKey)\n\nmsg.userData = {\n    ...user,\n    ...msg.userData,\n    contact_step\n};\n\nmsg.payload = {\n    registration_step: user.registration_step,\n    text,\n    command: text,\n    skipText: false\n}\n\nconst command = text.split(\" \")[0];\n\nif (command === '/birthday') {\n    const birthdayToFind = text.split(\" \")[1];\n    msg.payload.command = '/birthday'\n    msg.userData.birthdayToFind = birthdayToFind\n}\n\nif (command === '/contact') {\n    const phoneToFind = text.split(\" \")[1];\n    console.log(phoneToFind)\n    msg.payload.command = '/contact';\n    msg.userData.phoneToFind = phoneToFind;\n}\n\nif (user.registration_step === 'finished' && !contact_step && command !== '/add_contact') {\n    msg.payload.skipText = true\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":860,"wires":[["844a7d490b22bf32","37da58872ca5f46d"]]},{"id":"9c88fe90e9584492","type":"postgresql","z":"991b217375f5a9f2","name":"Init db","query":"CREATE TABLE IF NOT EXISTS users (\n    id SERIAL PRIMARY KEY,\n    chat_id BIGINT UNIQUE NOT NULL,\n    name TEXT,\n    phone TEXT UNIQUE,\n    registration_step TEXT NOT NULL DEFAULT 'waiting_for_name'\n);\n\nCREATE TABLE IF NOT EXISTS contacts (\n    id SERIAL PRIMARY KEY,\n    user_id INT REFERENCES users(id),\n    contact_name TEXT NOT NULL,\n    birthday DATE NOT NULL,\n    phone TEXT UNIQUE\n);","postgreSQLConfig":"d5cabf4b2c23ec4a","split":false,"rowsPerMsg":1,"outputs":1,"x":330,"y":560,"wires":[[]]},{"id":"41ee4f2232975705","type":"inject","z":"991b217375f5a9f2","name":"OnStart","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":140,"y":560,"wires":[["9c88fe90e9584492"]]},{"id":"109ce5229826b580","type":"postgresql","z":"991b217375f5a9f2","name":"Get user by chat_id","query":"SELECT * FROM users WHERE chat_id = $1;","postgreSQLConfig":"d5cabf4b2c23ec4a","split":false,"rowsPerMsg":1,"outputs":1,"x":450,"y":980,"wires":[["dbff1d8971508706"]]},{"id":"753c0a7937bbfe58","type":"function","z":"991b217375f5a9f2","name":"Get user by chat_id","func":"const telegramToken = global.get('TELEGRAM_BOT_TOKEN');\nmsg.token = telegramToken;\n\nconst chat_id = msg.payload.message.chat.id;\nconst text = msg.payload.message.text;\nmsg.userData = {\n    chat_id,\n    text\n};\nmsg.params = [chat_id]\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":920,"wires":[["109ce5229826b580"]]},{"id":"dbff1d8971508706","type":"switch","z":"991b217375f5a9f2","name":"Check if user exist ","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":1060,"wires":[["26aab5500baa0ed6"],["dad4b5d271114359"]]},{"id":"dad4b5d271114359","type":"function","z":"991b217375f5a9f2","name":"Add new user","func":"const { chat_id } = msg.userData\n\nmsg.params = [chat_id]\n\nreturn msg;\n\n\n// const userStates = global.get(\"userStates\") ?? {};\n\n// if (!userStates[msg.userData.chat_id]){\n//     userStates[msg.userData.chat_id] = {}\n// }\n\n// console.log('In info: ', userStates[msg.userData.chat_id] )\n\n// if (!userStates[msg.userData.chat_id].name) {\n//     msg.payload = {\n//         chat_id: msg.userData.chat_id,\n//         text: 'Enter your name'\n//     }\n//     userStates[msg.userData.chat_id].state = \"waiting_for_name\";\n//     global.set(\"userStates\", userStates);\n\n//     return msg;\n// }\n\n// if (!userStates[msg.userData.chat_id].phone) {\n//     msg.payload = {\n//         chat_id: msg.userData.chat_id,\n//         text: 'Enter your phone number'\n//     }\n//     userStates[msg.userData.chat_id].state = \"waiting_for_phone\";\n//     global.set(\"userStates\", userStates);\n\n//     return msg;\n// }\n\n// return msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":1320,"wires":[["69ca270bcd9737e0"]]},{"id":"69ca270bcd9737e0","type":"postgresql","z":"991b217375f5a9f2","name":"Insert new User","query":"INSERT INTO users (chat_id) VALUES ($1) RETURNING *;","postgreSQLConfig":"d5cabf4b2c23ec4a","split":false,"rowsPerMsg":1,"outputs":1,"x":800,"y":1320,"wires":[["dde7291af7a85c90"]]},{"id":"dde7291af7a85c90","type":"function","z":"991b217375f5a9f2","name":"Request user for name","func":"const payload = msg.payload[0];\n\nmsg.payload = {\n    chat_id: payload.chat_id,\n    text: 'Enter your name'\n}\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":1320,"wires":[["1b9b512d5aa5224d"]]},{"id":"e40e7fe5090a531b","type":"http response","z":"991b217375f5a9f2","name":"Success","statusCode":"200","headers":{},"x":1900,"y":1320,"wires":[]},{"id":"1b9b512d5aa5224d","type":"http request","z":"991b217375f5a9f2","name":"Send message","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot{{{token}}}/sendMessage","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1200,"y":1320,"wires":[["61ef4a73ceb74495"]]},{"id":"57695899bccfe028","type":"postgresql","z":"991b217375f5a9f2","name":"Update User reg_step by chat_id","query":"UPDATE users\nSET registration_step = $1\nWHERE chat_id = $2","postgreSQLConfig":"d5cabf4b2c23ec4a","split":false,"rowsPerMsg":1,"outputs":1,"x":1680,"y":1320,"wires":[["e40e7fe5090a531b"]]},{"id":"61ef4a73ceb74495","type":"function","z":"991b217375f5a9f2","name":"Update registation step","func":"msg.params = ['waiting_for_name', msg.userData.chat_id]\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1410,"y":1320,"wires":[["57695899bccfe028"]]},{"id":"42fe6d8e714ff047","type":"switch","z":"991b217375f5a9f2","name":"Switch reg step","property":"payload.registration_step","propertyType":"msg","rules":[{"t":"eq","v":"waiting_for_name","vt":"str"},{"t":"eq","v":"waiting_for_phone","vt":"str"},{"t":"null"}],"checkall":"true","repair":false,"outputs":3,"x":680,"y":540,"wires":[["57cc5f9b756c9451"],["953fd781327d7b1d"],["8b75a5dd6ae409ad"]]},{"id":"57cc5f9b756c9451","type":"function","z":"991b217375f5a9f2","name":"Save user name","func":"const { chat_id, text } = msg.userData;\nmsg.params = [text, 'waiting_for_phone', chat_id]\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":440,"wires":[["4d511513e4dbff97"]]},{"id":"4d511513e4dbff97","type":"postgresql","z":"991b217375f5a9f2","name":"Update user name","query":"UPDATE users\nSET name = $1, registration_step = $2\nWHERE chat_id = $3","postgreSQLConfig":"d5cabf4b2c23ec4a","split":false,"rowsPerMsg":1,"outputs":1,"x":1130,"y":440,"wires":[["5c4686bc7192915b"]]},{"id":"5c4686bc7192915b","type":"function","z":"991b217375f5a9f2","name":"Request user phone","func":"const { chat_id } = msg.userData\nmsg.payload = {\n    chat_id,\n    text: 'Enter your phone'\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":440,"wires":[["da4f903351478199"]]},{"id":"09cb081265cec892","type":"postgresql","z":"991b217375f5a9f2","name":"Update User phone","query":"UPDATE users\nSET phone = $1, registration_step = $2\nWHERE chat_id = $3","postgreSQLConfig":"d5cabf4b2c23ec4a","split":false,"rowsPerMsg":1,"outputs":1,"x":1110,"y":500,"wires":[["acdadca20d73a11d"]]},{"id":"acdadca20d73a11d","type":"function","z":"991b217375f5a9f2","name":"Register finished","func":"const { chat_id } = msg.userData\nmsg.payload = {\n    chat_id,\n    text: 'Registration success'\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":500,"wires":[["da4f903351478199"]]},{"id":"953fd781327d7b1d","type":"function","z":"991b217375f5a9f2","name":"Save user phone","func":"const { chat_id, text } = msg.userData;\nmsg.params = [text, 'finished', chat_id]\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":500,"wires":[["09cb081265cec892"]]},{"id":"8b75a5dd6ae409ad","type":"function","z":"991b217375f5a9f2","name":"Error","func":"const { chat_id } = msg.userData;\n\nmsg.payload = {\n    chat_id,\n    text: 'Something went wrong'\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":560,"wires":[["da4f903351478199"]]},{"id":"558c3ea363bc48de","type":"switch","z":"991b217375f5a9f2","name":"Swith command","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"/start","vt":"str"},{"t":"eq","v":"/contacts_list","vt":"str"},{"t":"eq","v":"/add_contact","vt":"str"},{"t":"eq","v":"/birthday","vt":"str"},{"t":"eq","v":"/contact","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":6,"x":960,"y":860,"wires":[["42fe6d8e714ff047"],["eed02fd75be85081"],["958f65d6cc7f8927"],["758bfe3d79a88da1"],["461f6c09c52bc384"],["800f0ee523627826","42fe6d8e714ff047"]]},{"id":"eed02fd75be85081","type":"function","z":"991b217375f5a9f2","name":"Get contacts","func":"const{ id } = msg.userData;\nmsg.params = [id]\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":840,"wires":[["52953fd28133a116"]]},{"id":"52953fd28133a116","type":"postgresql","z":"991b217375f5a9f2","name":"Get contact for user","query":"SELECT contact_name, birthday, phone FROM contacts WHERE user_id = $1;","postgreSQLConfig":"d5cabf4b2c23ec4a","split":false,"rowsPerMsg":1,"outputs":1,"x":1370,"y":840,"wires":[["9c8313a6975355b2"]]},{"id":"9c8313a6975355b2","type":"function","z":"991b217375f5a9f2","name":"Prepare contacts result ","func":"const { chat_id } = msg.userData;\n\nif (!msg.payload || msg.payload.length === 0) {\n    msg.payload = {\n        chat_id,\n        text: \"You don't have contacts yet. To add new contact use command /add_contact\"\n    }\n    return msg;\n}\n\nconst messages = msg.payload.map(({ contact_name, phone, birthday }) => {\n    const formatedBirthday = new Date(birthday).toLocaleDateString('uk-UA', {\n        day: '2-digit',\n        month: '2-digit',\n        year: 'numeric'\n    })\n    return `${contact_name} \\t| ${phone} |\\t ${formatedBirthday}`;\n})\n\nmsg.payload = {\n    chat_id,\n    text: messages.join(\"\\n\")\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1590,"y":840,"wires":[["badae4d6eadfd206"]]},{"id":"958f65d6cc7f8927","type":"function","z":"991b217375f5a9f2","name":"Add contact","func":"const {chat_id} = msg.userData;\nconst flowKey = `add_contact_step_${chat_id}`\nconst step = flow.get(flowKey);\n\nif (!step) {\n    flow.set(flowKey,'waiting_for_contact_name')\n    msg.payload = {\n        chat_id,\n        text: 'Enter contact name'\n    }\n    return msg;\n}\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":880,"wires":[["badae4d6eadfd206"]]},{"id":"97d0be747e71ca97","type":"http response","z":"991b217375f5a9f2","name":"Success","statusCode":"200","headers":{},"x":2200,"y":900,"wires":[]},{"id":"800f0ee523627826","type":"switch","z":"991b217375f5a9f2","name":"Switch contact step","property":"userData.contact_step","propertyType":"msg","rules":[{"t":"eq","v":"waiting_for_contact_name","vt":"str"},{"t":"eq","v":"waiting_for_contact_phone","vt":"str"},{"t":"eq","v":"waiting_for_contact_birthday","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":1170,"y":980,"wires":[["1d746e7b13dd71a2"],["c2c252d3c575053d"],["6053e47edc8bd114"],[]]},{"id":"1d746e7b13dd71a2","type":"function","z":"991b217375f5a9f2","name":"Save contac name","func":"const { chat_id } = msg.userData;\nflow.set(`contact_name-${chat_id}`, msg.payload.text)\nflow.set(`add_contact_step_${chat_id}`, 'waiting_for_contact_phone')\nmsg.payload = {\n    chat_id,\n    text: 'Enter contact phone number'\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1370,"y":920,"wires":[["badae4d6eadfd206"]]},{"id":"badae4d6eadfd206","type":"http request","z":"991b217375f5a9f2","name":"Send message","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot{{{token}}}/sendMessage","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":2020,"y":900,"wires":[["97d0be747e71ca97"]]},{"id":"c2c252d3c575053d","type":"function","z":"991b217375f5a9f2","name":"Save contac phone","func":"const { chat_id } = msg.userData;\nflow.set(`contact_phone-${chat_id}`, msg.payload.text)\nflow.set(`add_contact_step_${chat_id}`, 'waiting_for_contact_birthday')\nmsg.payload = {\n    chat_id,\n    text: 'Enter contact birthday'\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":960,"wires":[["badae4d6eadfd206"]]},{"id":"6053e47edc8bd114","type":"function","z":"991b217375f5a9f2","name":"Save new contact","func":"const { chat_id,id } = msg.userData;\nconst contactName = flow.get(`contact_name-${chat_id}`);\nconst contactPhone = flow.get(`contact_phone-${chat_id}`);\nconst contactBirthday = msg.payload.text;\n\nflow.set([`contact_name-${chat_id}`, `contact_phone-${chat_id}`, `add_contact_step_${chat_id}`], null);\nmsg.params = [id,contactName,contactBirthday,contactPhone]\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1370,"y":1000,"wires":[["c994141ed451f800"]]},{"id":"c994141ed451f800","type":"postgresql","z":"991b217375f5a9f2","name":"Add new contact","query":"INSERT INTO contacts (user_id, contact_name, birthday, phone) VALUES ($1,$2,$3,$4) RETURNING *;","postgreSQLConfig":"d5cabf4b2c23ec4a","split":false,"rowsPerMsg":1,"outputs":1,"x":1570,"y":1000,"wires":[["8ce466af8782cf4c"]]},{"id":"8ce466af8782cf4c","type":"function","z":"991b217375f5a9f2","name":"Contact Created","func":"const { chat_id } = msg.userData;\n\nconst contact = msg.payload[0];\n\nmsg.payload = {\n    chat_id,\n    text: `Contact ${contact.contact_name} added`\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":1000,"wires":[["badae4d6eadfd206"]]},{"id":"758bfe3d79a88da1","type":"function","z":"991b217375f5a9f2","name":"Find contact by birthday","func":"const { id, birthdayToFind } = msg.userData;\nmsg.params = [id, birthdayToFind]\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":1080,"wires":[["206c3b2e4ff4cb09"]]},{"id":"206c3b2e4ff4cb09","type":"postgresql","z":"991b217375f5a9f2","name":"Get contact by birthday","query":"SELECT contact_name, birthday, phone FROM contacts WHERE user_id = $1 AND birthday = $2;","postgreSQLConfig":"d5cabf4b2c23ec4a","split":false,"rowsPerMsg":1,"outputs":1,"x":1450,"y":1080,"wires":[["0b85d8b25aa4aa7d"]]},{"id":"0b85d8b25aa4aa7d","type":"function","z":"991b217375f5a9f2","name":"Prepare search result","func":"console.log(msg.payload)\nconst { chat_id } = msg.userData;\n\nif (msg.payload.length===0){\n    msg.payload = {\n        chat_id,\n        text: 'Contacts with this birthday not found'\n    }\n    return msg;    \n}\n\nconst messages = msg.payload.map(({ contact_name, phone, birthday }) => {\n    const formatedBirthday = new Date(birthday).toLocaleDateString('uk-UA', {\n        day: '2-digit',\n        month: '2-digit',\n        year: 'numeric'\n    })\n    return `${contact_name} \\t| ${phone} |\\t ${formatedBirthday}`;\n})\n\nmsg.payload = {\n    chat_id,\n    text: messages.join(\"\\n\")\n}\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1700,"y":1080,"wires":[["badae4d6eadfd206"]]},{"id":"461f6c09c52bc384","type":"function","z":"991b217375f5a9f2","name":"Get birthday by phone","func":"const { id, phoneToFind } = msg.userData;\nmsg.params = [id, phoneToFind]\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":1160,"wires":[["55f631129dd084c4"]]},{"id":"55f631129dd084c4","type":"postgresql","z":"991b217375f5a9f2","name":"Get birthad by phone","query":"SELECT contact_name, birthday FROM contacts WHERE user_id = $1 AND phone = $2;","postgreSQLConfig":"d5cabf4b2c23ec4a","split":false,"rowsPerMsg":1,"outputs":1,"x":1400,"y":1160,"wires":[["48d92fb31889c7cc"]]},{"id":"48d92fb31889c7cc","type":"function","z":"991b217375f5a9f2","name":"Prepare search result","func":"console.log(msg.payload)\nconst { chat_id } = msg.userData;\n\nif (msg.payload.length===0){\n    msg.payload = {\n        chat_id,\n        text: 'Contacts with this phone not found'\n    }\n    return msg;    \n}\n\nconst messages = msg.payload.map(({ contact_name, birthday }) => {\n    const formatedBirthday = new Date(birthday).toLocaleDateString('uk-UA', {\n        day: '2-digit',\n        month: '2-digit',\n        year: 'numeric'\n    })\n    return `${contact_name} \\t| ${formatedBirthday}`;\n})\n\nmsg.payload = {\n    chat_id,\n    text: messages.join(\"\\n\")\n}\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1660,"y":1160,"wires":[["badae4d6eadfd206"]]},{"id":"dc9f563a491b6466","type":"http response","z":"991b217375f5a9f2","name":"Success","statusCode":"200","headers":{},"x":1980,"y":540,"wires":[]},{"id":"da4f903351478199","type":"http request","z":"991b217375f5a9f2","name":"Send message","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot{{{token}}}/sendMessage","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1800,"y":540,"wires":[["dc9f563a491b6466"]]},{"id":"844a7d490b22bf32","type":"debug","z":"991b217375f5a9f2","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":780,"wires":[]},{"id":"a7f241c50867e761","type":"catch","z":"991b217375f5a9f2","name":"","scope":["109ce5229826b580","69ca270bcd9737e0","57695899bccfe028","4d511513e4dbff97","52953fd28133a116","c994141ed451f800","206c3b2e4ff4cb09","55f631129dd084c4"],"uncaught":false,"x":120,"y":1420,"wires":[["420fb0e5e552a098"]]},{"id":"420fb0e5e552a098","type":"function","z":"991b217375f5a9f2","name":"Error handler","func":"const {chat_id} = msg.userData;\n\nmsg.payload = {\n    chat_id,\n    text: msg.error.message\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":1420,"wires":[["17c46622384c873f"]]},{"id":"17c46622384c873f","type":"http request","z":"991b217375f5a9f2","name":"Send message","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot{{{token}}}/sendMessage","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":320,"y":1480,"wires":[["298579b885a06949"]]},{"id":"298579b885a06949","type":"http response","z":"991b217375f5a9f2","name":"Error","statusCode":"400","headers":{},"x":490,"y":1480,"wires":[]},{"id":"37da58872ca5f46d","type":"switch","z":"991b217375f5a9f2","name":"","property":"payload.skipText","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":940,"wires":[["558c3ea363bc48de"],["3ff45bba7fa7fb4d"]]},{"id":"3ff45bba7fa7fb4d","type":"http response","z":"991b217375f5a9f2","name":"Success","statusCode":"200","headers":{},"x":880,"y":1040,"wires":[]},{"id":"b8abceac374615dd","type":"catch","z":"991b217375f5a9f2","name":"","scope":["09cb081265cec892"],"uncaught":false,"x":400,"y":200,"wires":[["c5a8bc2bdfb3448e"]]},{"id":"c5a8bc2bdfb3448e","type":"function","z":"991b217375f5a9f2","name":"Error handler","func":"const { chat_id } = msg.userData;\n\nmsg.payload = {\n    chat_id,\n    text: \"User with this phone already exist. Let's try again\"\n}\n\nmsg.params = [chat_id]\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":200,"wires":[["53bda8130aa2a2b7"]]},{"id":"30bcb80563439b68","type":"postgresql","z":"991b217375f5a9f2","name":"Remove user ","query":"DELETE FROM users WHERE chat_id = $1;","postgreSQLConfig":"d5cabf4b2c23ec4a","split":false,"rowsPerMsg":1,"outputs":1,"x":810,"y":360,"wires":[["e6027205d267405d"]]},{"id":"e6027205d267405d","type":"http response","z":"991b217375f5a9f2","name":"Error","statusCode":"400","headers":{},"x":990,"y":200,"wires":[]},{"id":"53bda8130aa2a2b7","type":"http request","z":"991b217375f5a9f2","name":"Send message","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot{{{token}}}/sendMessage","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":780,"y":280,"wires":[["30bcb80563439b68"]]}]